/* Helper Class */
.screen-reader {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.screen-reader:focus {
    color: #e2574c;
    clip: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    left: 5px;
    top: 5px;
    width: 120px;
    background-color: white;
    z-index: 100000; /* above all content */
}
#main[tabindex="-1"]:focus {
   outline: 0;
}