/* Products Content Styles */

.products{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.products-list {
    width: 90vw;
    outline: none;
    li{
        @include tablet {
            display: inline-block;
        }
        @include desktop {
            width: 25%;
        }
    }
}
.category,
.price{
    color:  $color__grey;
}
.category{
    text-transform: uppercase;
}
.price{
    font-size: $font-sizemedium; 
    padding-bottom: 2.5rem;
}
.add-to-cart{
    background-color: black;
    border-radius: 25px;
    width: 125px;
    height: 35px;
    margin-bottom: 2.5rem;
}
