/* Signup Content Styles */

.signup{
    background:
        $dark-overlay,
        url(../assets/images/wave-bkgd.jpg) no-repeat center 100%;
    background-size: cover;
    color: white;
    margin-bottom: .5rem;
}